.homeH1 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
  color: aliceblue;
}
.imgCarousel {
  width: 220px;
  height: 320px;
}
.carouselDiv {
  gap: 90px;
  margin-bottom: 60px;
}
.allItems {
  background-color: rgba(6, 7, 7, 0.541);
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;

  grid-template-columns: repeat(5, 15%);
  grid-template-rows: repeat(3, 300px);
  padding-top: 30px;
}
.imgFigure {
  width: 180px;
  height: 250px;
}
.carousel {
  background-color: rgb(8, 8, 8);
}
.caption {
  color: aliceblue;
  text-align: center;
}
